.card-outer {
    padding: 18px;
}

.card {
    width: 100%;
    color: gray;
    padding: 8px;
}
.heading {
    padding: 8px;
    color: gray;
    font-weight: bolder;
}
.sect-2 {
    margin: auto;
}
.sbt-btn-div {
    margin: auto;
    text-align: center;
    margin-top: 12px;
}

.sbt-btn {
    width: 100%;
}
.wait-text {
    color: green;
    font-size: 12px;
}
.err-text {
    color: red;
    font-size: 12px;
    text-align: center;
}