.heading-size {
    font-size: 24px;
}

.card-style {
    background-color: #7b7b7b;
    color: whitesmoke;
    padding: 12px;
    border-radius: 4px;
    font-weight: bolder;
}

.mat-icon {
    height: 18px;
    width: 18px;
}

.material-icons {
    font-size: 18px;
}

a {
    color: #00d0ff;
}