.form-outer {
    padding: 18px;
}

.form-inner {
    padding: 24px;
}

.form-size {
    width: 100%;
}

.mat-form-field {
    display: block;
}

.button-row {
    padding-left: 18px;
    margin-bottom: 16px;
}

.card {
    width: 100%;
}

.card-header {
    color: whitesmoke;
    font-weight: 900;
    background-color: rgb(91, 179, 255);
}

.mat-select-value {
    color: gray;
}

.mat-error {
    font-size: 12px;
    margin-top: -16px;
}

.success {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    color: #0a6d21;
    background-color: #bdf5bd;
    padding: 2px;
    border-radius: 4px;
}
.failed {
    margin-top: 8px;
    display: block;
    font-size: 14px;
    color: #dc3545;
    background-color: #fbd8dc;
    padding: 2px;
    border-radius: 4px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #17a2b8 !important;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

//   .example-table-container {
//     position: relative;
//     max-height: 400px;
//     overflow: auto;
//   }
.table-container {
    overflow-x: scroll;
}
  
  table {
    width: 100%;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .prod-img {
    padding: 4px;
  }
  .action-icon {
      font-size: 18px;
      cursor: pointer;
  }
  
//   /* Column Widths */
//   .mat-column-number,
//   .mat-column-state {
//     min-width: 140px;
//     max-width: 160px;
//   }
  
//   .mat-column-created {
//     max-width: 140px;
//   }