<div class="login-page" [@routerTransition]>
    <div class="login-background">
        <div class="bg-overlay">
            <div class="page-logo">
                <mat-icon class="card-logo">account_circle</mat-icon>
                <h2> StarMart</h2>
            </div>
            <div class="col-md-4">
                <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" formControlName="emailOrMobile" placeholder="Email">
                            <mat-error>
                                <span *ngIf="!loginForm.get('emailOrMobile').valid && loginForm.get('emailOrMobile').touched">
                            <span *ngIf="loginForm.get('emailOrMobile').errors['required']">Please enter email id or mobile number </span>
                                </span>
                            </mat-error>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" formControlName="password" placeholder="Password">
                            <mat-error>
                                <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                            <span *ngIf="loginForm.get('password').errors['required']">Please enter your password </span>
                                </span>
                            </mat-error>
                        </div>
                    </div>
                    <button type="submit" class="btn rounded-btn"> Log in </button> &nbsp;
                    <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                    <div class="alert-messages">
                        <span class="success" *ngIf = "successMsg"> {{ successMsgDisplay }}</span>
                        <span class="error" *ngIf = "errorMsg"> {{ errorMsgDisplay }}</span>
                    </div>
                </form>
            </div>

            <!--
            <div class="login-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon class="card-logo">account_circle</mat-icon>
                        </mat-card-title>
                        <mat-card-subtitle>Admin Login</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        -->
        </div>
    </div>
</div>