
.card-header {
    background: gray!important;
    color: white;
}
.status-message {
    margin-left: 30%;
}
.success-message {
    background-color: #b4e6b4;
    color: #085608;
    padding: 4px;
    border-radius: 4px;
}
.error-message {
    background-color: #f5bcbc;
    color: #b31a1a;
    padding: 4px;
    border-radius: 4px;
}
.form-head {
    margin-top: 18px;
    margin-bottom: 12px;
    border-bottom: 1px solid grey;
}

.braek-text {
    white-space: normal;
}
.update-btn {
    margin-top: 16px;
    margin-bottom: 18px;
}
.close-icon{
    float: right;
    display: inline;
    cursor: pointer;
}
.close-btn {
    display: inline;
    margin-top: 16px;
    margin-left: 18px;
    margin-bottom: 18px;
}
.prod-image {
    margin: auto;
    padding: 18px;
}